@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 py-4 bg-yellow-50;
  margin: 0;
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* font-family: 'Roboto', sans-serif;
   */
  font-family: 'Inter', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
}

.happy-anniversary {
  @apply text-5xl md:text-6xl;
  font-family: 'Rubik Doodle Shadow';
}